.container_new_anime{
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    gap: 20px;

    .text_new_anime_h3{
        color: var(--background-color-menu-header);
    }


    .container_btn_new_anime{
        display: flex;
        justify-content: end;
        align-items: center;
        gap:12px;

        .btn_all_new{
            padding: 10px 24px;
            border:none;
            border-radius: 4px;
            cursor: pointer;
            background-color: var(--background-color-menu-header);
            color:var(--color-title-menu-header);
            transition: 0.3s ease-in-out;

        }

        .btn_new_anime{
            padding: 10px 24px;
            border:none;
            border-radius: 4px;
            cursor: pointer;
            background-color: var(--background-color-menu-header);
            color:var(--color-title-menu-header);
            transition: 0.3s ease-in-out;
            
            &:hover{
                background-color: white;
                color: var(--background-color-menu-header);
            }
        }
    }

   
}