* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {

    --background-color-menu-header: #4c43cf;
    --color-text-primary: #4c43cf;
    --background-color-anime-finalizado: rgb(255 0 0 / 64%);
    --background-color-anime-activo:rgb(37 181 114);
    --color-title-menu-header: #e9e9e9;
}

body {
    font-family: sans-serif;
    position: relative;
}

a {
    text-decoration: none;
}

.header {
    height: 62px;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 0px 20px 0px 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-menu-header);

    .container_title {
        width: fit-content;

        .title {
            color: var(--color-title-menu-header);
            width: fit-content;
        }
    }

    .nav {
        width: fit-content;

        .ul {
            display: flex;
            list-style: none;
            gap: 20px;

            .li {
                a {
                    text-decoration: none;
                    color: var(--color-title-menu-header);

                    &:hover {
                        color: white;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}



.container_relative {
    position: relative;

    .modal_open {
    /* MODO MODAL OSCURO BODY*/
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
      z-index: 2; /* Asegurarse de que esté encima de todo el contenido */
    }
}

